@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-cod-gray: #0b0b0b; /* Background */
    --color-platinum:  #E5E5E5; /* Text */
    --color-ash: #9CA3AF; /* Background Card */
    --color-off-black: #2a2a2a; /* Stroke */
    --color-cursed-black: #131313; /* Secondary Background Color */
}
